<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs')%>
  <body>
    <div class="player-creation">
      <form action="/play" method="POST">
        <label for="body">Name</label>
        <input type="text" id="title" name="user" required />
        <button>Let's Play!</button>
      </form>
    </div>
  </body>
</html>
